.buttons {
  padding-top: 94px;
  padding-bottom: 0px;
}

.buttons__container {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  box-shadow: 0px;
}

.buttons__wszystkie {
  width: 121px;
}

.buttons__strony {
  width: 93px;
}

.buttons__aplikacje {
  width: 114px;
}

.buttons__dizajn {
  width: 91px;
}

.buttons__marketing {
  width: 121px;
}
